overlay-menu:host {
  display: block;
}

.overlay-menu__button-container {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.overlay-menu__button {
    height: 40px;
    width: 40px;
    margin: 10px 5px;
    border: 0;
    background-color: unset;
    cursor: pointer;
}

.overlay-menu__button:disabled {
    opacity: .2;
    cursor: not-allowed;
}

.overlay-menu__bottom-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;

    p {
        font-size: 10px;
    }
}
